<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/main.css">
    <title>Home Page</title>
</head>
    <body>
        <div class="container-fluid">
            <header class="">
            <div class="d-flex justify-content-around">
                <div class="container">
                    <p class="header-username" th:text="${userName}"></p>
                </div>
                <div class="container text-center">
                    <h1 class="navbar-brand ">
                        <a href="./" th:text="${appName}"><br>
                            <small class="small-lines">Your Spotify Stats</small>
                        </a>
                    </h1>
                </div>
                <div class="container logout-area">
                    <a class="btn btn-lg btn-secondary" href="/">Sign out</a>
                </div>
            </div>
        </header>
            <div class="container">
            <div class="row justify-content-between">
                <div class="col-2 dashboard-menu">
                    Menu:
                    <a class="btn btn-lg btn-outline-secondary dashboard-btn" href="/dashboard">Dashboard</a>
                    <a class="btn btn-lg btn-outline-secondary dashboard-btn" href="/recentPlayed">Onlangs gespeeld</a>
                    <a class="btn btn-lg btn-outline-secondary dashboard-btn active" href="/#">Meest gespeelde liedjes</a>
                </div>
                <div class="col-9 dashboard-content">
                    <h5 class="card-title dashboard-card-title">Meest gespeelde nummers:</h5>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start" th:each="track : ${mostPlayed.getTracks()}">
                            <div class="dashboard-topTrack-list">
                                <div class="dashboard-topTrack-title" th:text="${track.getTitle() + ': ' + track.getArtistName()}"></div>
                                <div class="dashboard-topTrack-artist" th:text="${track.getTimesPlayed()}"></div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>|